.wrapper_with_padding
  - @notes.each do |note|
    %emoji_font=  link_to note.emoji, note
    %p= note.created_at.strftime("%A, %b %d")


  %br
  = link_to "New Note", new_note_path, class: "button"
